# Exploring datasets from PennML Benchmark library

#### ==Classification Datasets==

In [18]:
from pmlb import classification_dataset_names, regression_dataset_names,fetch_data

for classification_dataset in classification_dataset_names:
    df = fetch_data(classification_dataset)
    if len(df)>4999:
        print("Dataframe Name: ",classification_dataset, ", Dataframe size: ", df.shape)

Dataframe Name:  adult , Dataframe size:  (48842, 15)
Dataframe Name:  agaricus-lepiota , Dataframe size:  (8145, 23)
Dataframe Name:  ann-thyroid , Dataframe size:  (7200, 22)
Dataframe Name:  banana , Dataframe size:  (5300, 3)
Dataframe Name:  churn , Dataframe size:  (5000, 21)
Dataframe Name:  clean2 , Dataframe size:  (6598, 169)
Dataframe Name:  coil2000 , Dataframe size:  (9822, 86)
Dataframe Name:  connect-4 , Dataframe size:  (67557, 43)
Dataframe Name:  fars , Dataframe size:  (100968, 30)
Dataframe Name:  kddcup , Dataframe size:  (494020, 42)
Dataframe Name:  krkopt , Dataframe size:  (28056, 7)
Dataframe Name:  letter , Dataframe size:  (20000, 17)
Dataframe Name:  magic , Dataframe size:  (19020, 11)
Dataframe Name:  mnist , Dataframe size:  (70000, 785)
Dataframe Name:  mushroom , Dataframe size:  (8124, 23)
Dataframe Name:  nursery , Dataframe size:  (12958, 9)
Dataframe Name:  optdigits , Dataframe size:  (5620, 65)
Dataframe Name:  page-blocks , Dataframe size:  (5473, 11)
Dataframe Name:  pendigits , Dataframe size:  (10992, 17)
Dataframe Name:  phoneme , Dataframe size:  (5404, 6)
Dataframe Name:  poker , Dataframe size:  (1025009, 11)
Dataframe Name:  ring , Dataframe size:  (7400, 21)
Dataframe Name:  satimage , Dataframe size:  (6435, 37)
Dataframe Name:  shuttle , Dataframe size:  (58000, 10)
Dataframe Name:  sleep , Dataframe size:  (105908, 14)
Dataframe Name:  texture , Dataframe size:  (5500, 41)
Dataframe Name:  twonorm , Dataframe size:  (7400, 21)
Dataframe Name:  waveform-21 , Dataframe size:  (5000, 22)
Dataframe Name:  waveform-40 , Dataframe size:  (5000, 41)

#### ==Regression Datasets==

In [8]:
from pmlb import classification_dataset_names, regression_dataset_names,fetch_data

for regression_dataset in regression_dataset_names:
    df = fetch_data(regression_dataset)
    if len(df)>4999:
        print("Dataframe Name: ",regression_dataset, ", Dataframe size: ", df.shape)

Dataframe Name:  1191_BNG_pbc , Dataframe size:  (1000000, 19)
Dataframe Name:  1193_BNG_lowbwt , Dataframe size:  (31104, 10)
Dataframe Name:  1196_BNG_pharynx , Dataframe size:  (1000000, 11)
Dataframe Name:  1199_BNG_echoMonths , Dataframe size:  (17496, 10)
Dataframe Name:  1201_BNG_breastTumor , Dataframe size:  (116640, 10)
Dataframe Name:  1203_BNG_pwLinear , Dataframe size:  (177147, 11)
Dataframe Name:  1595_poker , Dataframe size:  (1025010, 11)
Dataframe Name:  197_cpu_act , Dataframe size:  (8192, 22)
Dataframe Name:  201_pol , Dataframe size:  (15000, 49)
Dataframe Name:  215_2dplanes , Dataframe size:  (40768, 11)
Dataframe Name:  218_house_8L , Dataframe size:  (22784, 9)
Dataframe Name:  225_puma8NH , Dataframe size:  (8192, 9)
Dataframe Name:  227_cpu_small , Dataframe size:  (8192, 13)
Dataframe Name:  294_satellite_image , Dataframe size:  (6435, 37)
Dataframe Name:  344_mv , Dataframe size:  (40768, 11)
Dataframe Name:  503_wind , Dataframe size:  (6574, 15)
Dataframe Name:  537_houses , Dataframe size:  (20640, 9)
Dataframe Name:  562_cpu_small , Dataframe size:  (8192, 13)
Dataframe Name:  564_fried , Dataframe size:  (40768, 11)
Dataframe Name:  573_cpu_act , Dataframe size:  (8192, 22)
Dataframe Name:  574_house_16H , Dataframe size:  (22784, 17)

#### ==After going through all the datasets and research paper related to the dataset, below are the chosen list==

In [14]:
sel_clss_dtst = ['adult','agaricus-lepiota', 'churn', 'nursery', 'satimage','texture']
sel_rgrs_dtst = ['294_satellite_image','218_house_8L', '227_cpu_small', '503_wind', '344_mv','215_2dplanes']

In [15]:
for class_dtst in sel_clss_dtst:
    df = fetch_data(class_dtst)
    print("Dataframe Name: ",class_dtst, ", Dataframe size: ", df.shape)

Dataframe Name:  adult , Dataframe size:  (48842, 15)
Dataframe Name:  agaricus-lepiota , Dataframe size:  (8145, 23)
Dataframe Name:  churn , Dataframe size:  (5000, 21)
Dataframe Name:  nursery , Dataframe size:  (12958, 9)
Dataframe Name:  satimage , Dataframe size:  (6435, 37)
Dataframe Name:  texture , Dataframe size:  (5500, 41)

In [17]:
for regrs_dtst in sel_rgrs_dtst:
    df = fetch_data(regrs_dtst)
    print("Dataframe Name: ",regrs_dtst, ", Dataframe size: ", df.shape)

Dataframe Name:  294_satellite_image , Dataframe size:  (6435, 37)
Dataframe Name:  218_house_8L , Dataframe size:  (22784, 9)
Dataframe Name:  227_cpu_small , Dataframe size:  (8192, 13)
Dataframe Name:  503_wind , Dataframe size:  (6574, 15)
Dataframe Name:  344_mv , Dataframe size:  (40768, 11)
Dataframe Name:  215_2dplanes , Dataframe size:  (40768, 11)

#### ==PennML benchmark datasets was chosen because it doesn't have any missing data and the categorical data have been labelly encoded. Let's check!==

###### Checking missing value

In [25]:
for class_dtst in sel_clss_dtst:
    df = fetch_data(class_dtst)
    print("Datasets Name: ",class_dtst, " , Number of missing values : ", df.isnull().sum().sum())

Datasets Name:  adult  , Number of missing values :  0
Datasets Name:  agaricus-lepiota  , Number of missing values :  0
Datasets Name:  churn  , Number of missing values :  0
Datasets Name:  nursery  , Number of missing values :  0
Datasets Name:  satimage  , Number of missing values :  0
Datasets Name:  texture  , Number of missing values :  0

In [24]:
for regrs_dtst in sel_rgrs_dtst:
    df = fetch_data(regrs_dtst)
    print("Datasets Name: ",regrs_dtst, " , Number of missing values : ", df.isnull().sum().sum())

Datasets Name:  294_satellite_image  , Number of missing values :  0
Datasets Name:  218_house_8L  , Number of missing values :  0
Datasets Name:  227_cpu_small  , Number of missing values :  0
Datasets Name:  503_wind  , Number of missing values :  0
Datasets Name:  344_mv  , Number of missing values :  0
Datasets Name:  215_2dplanes  , Number of missing values :  0

###### Checking datatypes

In [27]:
for class_dtst in sel_clss_dtst:
    df = fetch_data(class_dtst)
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age               48842 non-null float64
workclass         48842 non-null int64
fnlwgt            48842 non-null float64
education         48842 non-null int64
education-num     48842 non-null float64
marital-status    48842 non-null int64
occupation        48842 non-null int64
relationship      48842 non-null int64
race              48842 non-null int64
sex               48842 non-null int64
capital-gain      48842 non-null float64
capital-loss      48842 non-null float64
hours-per-week    48842 non-null float64
native-country    48842 non-null int64
target            48842 non-null int64
dtypes: float64(6), int64(9)
memory usage: 5.6 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8145 entries, 0 to 8144
Data columns (total 23 columns):
cap-shape                   8145 non-null int64
cap-surface                 8145 non-null int64
cap-color                   8145 non-null int64
bruises?                    8145 non-null int64
odor                        8145 non-null int64
gill-attachment             8145 non-null int64
gill-spacing                8145 non-null int64
gill-size                   8145 non-null int64
gill-color                  8145 non-null int64
stalk-shape                 8145 non-null int64
stalk-root                  8145 non-null int64
stalk-surface-above-ring    8145 non-null int64
stalk-surface-below-ring    8145 non-null int64
stalk-color-above-ring      8145 non-null int64
stalk-color-below-ring      8145 non-null int64
veil-type                   8145 non-null int64
veil-color                  8145 non-null int64
ring-number                 8145 non-null int64
ring-type                   8145 non-null int64
spore-print-color           8145 non-null int64
population                  8145 non-null int64
habitat                     8145 non-null int64
target                      8145 non-null int64
dtypes: int64(23)
memory usage: 1.4 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null int64
account length                   5000 non-null float64
area code                        5000 non-null float64
phone number                     5000 non-null int64
international plan               5000 non-null int64
voice mail plan                  5000 non-null int64
number vmail messages            5000 non-null float64
total day minutes                5000 non-null float64
total day calls                  5000 non-null float64
total day charge                 5000 non-null float64
total eve minutes                5000 non-null float64
total eve calls                  5000 non-null float64
total eve charge                 5000 non-null float64
total night minutes              5000 non-null float64
total night calls                5000 non-null float64
total night charge               5000 non-null float64
total intl minutes               5000 non-null float64
total intl calls                 5000 non-null float64
total intl charge                5000 non-null float64
number customer service calls    5000 non-null float64
target                           5000 non-null int64
dtypes: float64(16), int64(5)
memory usage: 820.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12958 entries, 0 to 12957
Data columns (total 9 columns):
parents     12958 non-null int64
has_nurs    12958 non-null int64
form        12958 non-null int64
children    12958 non-null int64
housing     12958 non-null int64
finance     12958 non-null int64
social      12958 non-null int64
health      12958 non-null int64
target      12958 non-null int64
dtypes: int64(9)
memory usage: 911.2 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
A1        6435 non-null float64
A2        6435 non-null float64
A3        6435 non-null float64
A4        6435 non-null float64
A5        6435 non-null float64
A6        6435 non-null float64
A7        6435 non-null float64
A8        6435 non-null float64
A9        6435 non-null float64
A10       6435 non-null float64
A11       6435 non-null float64
A12       6435 non-null float64
A13       6435 non-null float64
A14       6435 non-null float64
A15       6435 non-null float64
A16       6435 non-null float64
A17       6435 non-null float64
A18       6435 non-null float64
A19       6435 non-null float64
A20       6435 non-null float64
A21       6435 non-null float64
A22       6435 non-null float64
A23       6435 non-null float64
A24       6435 non-null float64
A25       6435 non-null float64
A26       6435 non-null float64
A27       6435 non-null float64
A28       6435 non-null float64
A29       6435 non-null float64
A30       6435 non-null float64
A31       6435 non-null float64
A32       6435 non-null float64
A33       6435 non-null float64
A34       6435 non-null float64
A35       6435 non-null float64
A36       6435 non-null float64
target    6435 non-null int64
dtypes: float64(36), int64(1)
memory usage: 1.8 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 41 columns):
A1        5500 non-null float64
A2        5500 non-null float64
A3        5500 non-null float64
A4        5500 non-null float64
A5        5500 non-null float64
A6        5500 non-null float64
A7        5500 non-null float64
A8        5500 non-null float64
A9        5500 non-null float64
A10       5500 non-null float64
A11       5500 non-null float64
A12       5500 non-null float64
A13       5500 non-null float64
A14       5500 non-null float64
A15       5500 non-null float64
A16       5500 non-null float64
A17       5500 non-null float64
A18       5500 non-null float64
A19       5500 non-null float64
A20       5500 non-null float64
A21       5500 non-null float64
A22       5500 non-null float64
A23       5500 non-null float64
A24       5500 non-null float64
A25       5500 non-null float64
A26       5500 non-null float64
A27       5500 non-null float64
A28       5500 non-null float64
A29       5500 non-null float64
A30       5500 non-null float64
A31       5500 non-null float64
A32       5500 non-null float64
A33       5500 non-null float64
A34       5500 non-null float64
A35       5500 non-null float64
A36       5500 non-null float64
A37       5500 non-null float64
A38       5500 non-null float64
A39       5500 non-null float64
A40       5500 non-null float64
target    5500 non-null int64
dtypes: float64(40), int64(1)
memory usage: 1.7 MB
None

In [26]:
for regrs_dtst in sel_rgrs_dtst:
    df = fetch_data(regrs_dtst)
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
attr1     6435 non-null float64
attr2     6435 non-null float64
attr3     6435 non-null float64
attr4     6435 non-null float64
attr5     6435 non-null float64
attr6     6435 non-null float64
attr7     6435 non-null float64
attr8     6435 non-null float64
attr9     6435 non-null float64
attr10    6435 non-null float64
attr11    6435 non-null float64
attr12    6435 non-null float64
attr13    6435 non-null float64
attr14    6435 non-null float64
attr15    6435 non-null float64
attr16    6435 non-null float64
attr17    6435 non-null float64
attr18    6435 non-null float64
attr19    6435 non-null float64
attr20    6435 non-null float64
attr21    6435 non-null float64
attr22    6435 non-null float64
attr23    6435 non-null float64
attr24    6435 non-null float64
attr25    6435 non-null float64
attr26    6435 non-null float64
attr27    6435 non-null float64
attr28    6435 non-null float64
attr29    6435 non-null float64
attr30    6435 non-null float64
attr31    6435 non-null float64
attr32    6435 non-null float64
attr33    6435 non-null float64
attr34    6435 non-null float64
attr35    6435 non-null float64
attr36    6435 non-null float64
target    6435 non-null float64
dtypes: float64(37)
memory usage: 1.8 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22784 entries, 0 to 22783
Data columns (total 9 columns):
P3        22784 non-null float64
P6p4      22784 non-null float64
P11p3     22784 non-null float64
P16p2     22784 non-null float64
P19p2     22784 non-null float64
H5p2      22784 non-null float64
H15p1     22784 non-null float64
H40p4     22784 non-null float64
target    22784 non-null float64
dtypes: float64(9)
memory usage: 1.6 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8192 entries, 0 to 8191
Data columns (total 13 columns):
lread       8192 non-null float64
lwrite      8192 non-null float64
scall       8192 non-null float64
sread       8192 non-null float64
swrite      8192 non-null float64
fork        8192 non-null float64
exec        8192 non-null float64
rchar       8192 non-null float64
wchar       8192 non-null float64
runqsz      8192 non-null float64
freemem     8192 non-null float64
freeswap    8192 non-null float64
target      8192 non-null float64
dtypes: float64(13)
memory usage: 832.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 15 columns):
year      6574 non-null float64
month     6574 non-null float64
day       6574 non-null float64
RPT       6574 non-null float64
VAL       6574 non-null float64
ROS       6574 non-null float64
KIL       6574 non-null float64
SHA       6574 non-null float64
BIR       6574 non-null float64
DUB       6574 non-null float64
CLA       6574 non-null float64
MUL       6574 non-null float64
CLO       6574 non-null float64
BEL       6574 non-null float64
target    6574 non-null float64
dtypes: float64(15)
memory usage: 770.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40768 entries, 0 to 40767
Data columns (total 11 columns):
x1        40768 non-null float64
x2        40768 non-null float64
x3        40768 non-null float64
x4        40768 non-null float64
x5        40768 non-null float64
x6        40768 non-null float64
x7        40768 non-null float64
x8        40768 non-null float64
x9        40768 non-null float64
x10       40768 non-null float64
target    40768 non-null float64
dtypes: float64(11)
memory usage: 3.4 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40768 entries, 0 to 40767
Data columns (total 11 columns):
x1        40768 non-null float64
x2        40768 non-null float64
x3        40768 non-null float64
x4        40768 non-null float64
x5        40768 non-null float64
x6        40768 non-null float64
x7        40768 non-null float64
x8        40768 non-null float64
x9        40768 non-null float64
x10       40768 non-null float64
target    40768 non-null float64
dtypes: float64(11)
memory usage: 3.4 MB
None